RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Protect sensitive files
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Set default character set
AddDefaultCharset UTF-8

# Set PHP include_path
#php_value include_path ".:/Users/work/Documents/gitlando/"
#php_value include_path ".:/workspace/"

# Check if the host is preview.landoai.com
RewriteCond %{HTTP_HOST} ^preview\.landoai\.com$ [NC]
RewriteRule ^$ https://landoai.com/ [R=301,L]
RewriteRule ^([a-zA-Z0-9-_]+)/?$ /src/Views/Landings/1/index.php?internalDomain=$1 [L,QSA]

# If the URL is "dashboard/", serve as usual
RewriteCond %{REQUEST_URI} ^/dashboard$
RewriteRule ^ - [L]

# For other parameters, redirect to the specific location
RewriteRule ^([a-zA-Z0-9-_]+)/?$ /src/Views/Landings/1/index.php?internalDomain=$1 [L,QSA]